<h3 *ngIf="!userGPS.coords">Waiting on GPS</h3>
<div *ngIf="userGPS.coords">


    <h3>GPS {{ userGPS.timestamp }}s  -->  lat= {{ userGPS.coords.latitude }},  long= {{ userGPS.coords.longitude }}</h3>


    <agm-map [latitude]="userGPS.coords.latitude"
        [longitude]="userGPS.coords.longitude"
        [zoom]="15">
        <agm-marker [latitude]="38.60834"
            [longitude]="-90.24080"
            [label]="'Starbucks'">
        </agm-marker>
        <agm-marker [latitude]="userGPS.coords.latitude"
            [longitude]="userGPS.coords.longitude">
        </agm-marker>
        <agm-circle [latitude]="38.60834"
            [longitude]="-90.24080"
            [radius]="20"
            [fillColor]="'#00f'">
        </agm-circle>
    </agm-map>
</div>
